<!-- <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script> -->

<div ng-controller="Calendar">
<super-navbar>
  <super-navbar-title>
    Calendar
  </super-navbar-title>
</super-navbar>

  <!-- <div id='calendar'></div> -->
  <!-- /*<style>
    .embed-container {
      position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%;
    }
    .embed-container iframe, .embed-container object, .embed-container embed {
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    }
  </style>
  <div class='embed-container'>
    <iframe src='http://brmayes.com/dynamic/projects/390app/' style='border:0'></iframe>
  </div>*/ -->

  <iframe src='http://brmayes.com/dynamic/projects/390app/' style='border:0; width: 100%; height: 100%;'></iframe>



</div>
