<div class="padding" ng-controller="Chat">

  <super-navbar>
    <super-navbar-title>
      Quick Chat
    </super-navbar-title>
  </super-navbar>

  <div id="mainDiv">

	<!-- Chatbox area (User logged in) -->

	<div id="messagediv" hidden="yes">
		<label id="username" style="display:inline-block"></label>
		<button type="button" id="logoutButton">Logout</button>
		<div id="chatbox"></div>
		<input type="text" id="usermsg">
		<button type="button" id="sendmsg" class="button button-block button-assertive">Send</button>
	</div>



</div>

</div>
