<div ng-controller="EditProfile">
  <super-navbar>
    <super-navbar-title>
      Edit Profile
    </super-navbar-title>
  </super-navbar>

  <div class="editProfileMargin">
  <h4 style="text-align:center; margin-top:15px; margin-bottom:15px;">Basic Information</h4>
  <form name="editUserProfile">
    <div class="form-group list">
      <label class="item item-input item-stacked-label" for="firstName">
        <span class="input-label">First Name</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="First Name" name="firstName" ng-model="firstName" class="form-control" required />
      </label>
      <label class="item item-input item-stacked-label" for="lastName">
        <span class="input-label">Last Name</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="Last Name" name="lastName" ng-model="lastName" class="form-control" required />
      </label>
      <label class="item item-input item-stacked-label" for="userEmail">
        <span class="input-label">Email Address</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="onyen@live.unc.edu" name="userEmail" ng-model="userEmail" class="form-control" required />
      </label>
      <label class="item item-input item-stacked-label" for="userPass">
        <span class="input-label">Password</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="Password" name="userPass" ng-model="userPass" class="form-control" required />
      </label>
      <label class="item item-input item-select" for="userRole">
        <div class="input-label">
          Role
        </div>
        <select required name="userRole" ng-model="userRole" class="form-control" />
          <option disabled selected value=""></option>
          <option value="Mentee">Mentee</option>
          <option value="Mentor">Mentor</option>
          <option value="Administrator">Administrator</option>
        </select>
      </label>
      <label class="item item-input item-select" for="teamNum">
        <div class="input-label">
          Team Number
        </div>
        <select required name="teamNum" ng-model="teamNum" class="form-control" />
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </label>
    </div>
    </div>

      <!-- PERSONAL -->
      <div class="editProfileMargin">
      <h4 style="text-align:center; margin-top:15px; margin-bottom:15px;">Personal</h4>
      <label class="item item-input" for="bio">
        <textarea name="bio" ng-model="bio" placeholder="Write a little about yourself..."></textarea>
      </label>
      <label class="item item-input item-stacked-label" for="userHometown">
        <span class="input-label">Hometown</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="Chapel Hill, NC" name="userHometown" ng-model="userHometown" class="form-control" required />
      </label>
    </div>

      <!-- ACADEMICS INFORMATION -->
      <div class="editProfileMargin">
      <h4 style="text-align:center; margin-top:15px; margin-bottom:15px;">Academics</h4>
      <label class="item item-input item-select" for="classStatus">
        <div class="input-label">
          Class Status
        </div>
        <select required name="classStatus" ng-model="classStatus" class="form-control" />
          <option value="First Year">First Year</option>
          <option value="Sophomore">Sophomore</option>
          <option value="Junior">Junior</option>
          <option value="Senior">Senior</option>
        </select>
      </label>
      <label class="item item-input item-select" for="userMajor">
        <div class="input-label">
          Major
        </div>
        <select required name="userMajor" ng-model="userMajor" class="form-control" />
          <option selected value="Undecided">Undecided</option>
          <option disabled value="Arts">Arts</option>
          <option value="Art History">Art History</option>
          <option value="Dramatic Art">Dramatic Art</option>
          <option value="Music">Music</option>
          <option value="Studio Art">Studio Art</option>
          <option disabled value="Biological And Health Sciences">Biological And Health Sciences</option>
          <option value="Biology">Biology</option>
          <option value="Clinical Laboratory Science">Clinical Laboratory Science</option>
          <option value="Dental Hygiene">Dental Hygiene</option>
          <option value="Environmental Sciences">Environmental Sciences</option>
          <option value="Exercise And Sport Science">Exercise And Sport Science</option>
          <option value="Nursing">Nursing</option>
          <option value="Pharmacy">Pharmacy</option>
          <option value="Pre-Health (Pre-Dental, Pre-Med, Pre-Optometry, Pre-Veterinary)">Pre-Health (Pre-Dental, Pre-Med, Pre-Optometry, Pre-Veterinary)</option>
          <option value="Psychology (Behavioral, Clinical, Or Cognitive)">Psychology (Behavioral, Clinical, Or Cognitive)</option>
          <option value="Public Health (Biostatistics, Environmental Health Sciences, Health Policy And Management, And Nutrition)">Public Health (Biostatistics, Environmental Health Sciences, Health Policy And Management, And Nutrition)</option>
          <option value="Radiologic Science">Radiologic Science</option>
          <option value="Speech And Hearing Sciences">Speech And Hearing Sciences</option>
          <option disabled value="Business">Business</option>
          <option value="Consulting">Consulting</option>
          <option value="Entrepreneurship">Entrepreneurship</option>
          <option value="Finance/Investments">Finance/Investments</option>
          <option value="General Management">General Management</option>
          <option value="International Business">International Business</option>
          <option value="Marketing Management">Marketing Management</option>
          <option value="Operations">Operations</option>
          <option value="Real Estate">Real Estate</option>
          <option value="Sales">Sales</option>
          <option disabled value="Education">Education</option>
          <option value="Music Education And Unc Best">Music Education And Unc Best</option>
          <option value="Elementary Education, Middle Grades Education, And Secondary Education">Elementary Education, Middle Grades Education, And Secondary Education</option>
          <option disabled value="Humanities">Humanities</option>
          <option value="African, African American, And Diaspora Studies (Including Arabic, Lingala, Swahili, And Wolof)">African, African American, And Diaspora Studies (Including Arabic, Lingala, Swahili, And Wolof)</option>
          <option value="American Studies (Including American Indian Studies, Folklore, International American Studies, And Southern Studies)">American Studies (Including American Indian Studies, Folklore, International American Studies, And Southern Studies)</option>
          <option value="Asian Studies (Including Arabic, Chinese, Modern Hebrew, Hindi-Urdu, Japanese, Korean, Persian, And Turkish)">Asian Studies (Including Arabic, Chinese, Modern Hebrew, Hindi-Urdu, Japanese, Korean, Persian, And Turkish)</option>
          <option value="Classics (Including Classical Archaeology, Classical Humanities, Greek, And Latin)">Classics (Including Classical Archaeology, Classical Humanities, Greek, And Latin)</option>
          <option value="Communication Studies">Communication Studies</option>
          <option value="Comparative Literature (Including International Literature And Global Cinema)">Comparative Literature (Including International Literature And Global Cinema)</option>
          <option value="Creative Writing">Creative Writing</option>
          <option value="English">English</option>
          <option value="Germanic And Slavic Languages And Literatures (Including Bosnian-Croatian-Serbian, Czech, Dutch, German, Hungarian, Polish, And Russian)">Germanic And Slavic Languages And Literatures (Including Bosnian-Croatian-Serbian, Czech, Dutch, German, Hungarian, Polish, And Russian)</option>
          <option value="Interdisciplinary Studies">Interdisciplinary Studies</option>
          <option value="Latin American Studies">Latin American Studies</option>
          <option value="Latina/O Studies">Latina/O Studies</option>
          <option value="Linguistics">Linguistics</option>
          <option value="Medieval And Early Modern Studies">Medieval And Early Modern Studies</option>
          <option value="Philosophy">Philosophy</option>
          <option value="Philosophy, Politics, And Economics">Philosophy, Politics, And Economics</option>
          <option value="Pre-Law">Pre-Law</option>
          <option value="Religious Studies (Including Jewish Studies)">Religious Studies (Including Jewish Studies)</option>
          <option value="Romance Languages And Literatures (Including French, Italian, Hispanic Linguistics, Hispanic Literature And Cultures, And Portuguese)">Romance Languages And Literatures (Including French, Italian, Hispanic Linguistics, Hispanic Literature And Cultures, And Portuguese)</option>
          <option value="Sexuality Studies">Sexuality Studies</option>
          <option value="Women’s And Gender Studies">Women’s And Gender Studies</option>
          <option value="Writing For The Screen And Stage">Writing For The Screen And Stage</option>
          <option disabled value="Media And Journalism">Media And Journalism</option>
          <option value="Advertising">Advertising</option>
          <option value="Broadcast Journalism And Electronic Communication">Broadcast Journalism And Electronic Communication</option>
          <option value="Business Journalism">Business Journalism</option>
          <option value="Electronic Communication">Electronic Communication</option>
          <option value="Multimedia">Multimedia</option>
          <option value="Photojournalism">Photojournalism</option>
          <option value="Public Relations">Public Relations</option>
          <option value="Reporting">Reporting</option>
          <option value="Strategic Communication">Strategic Communication</option>
          <option disabled value="Mathematics, Computing, And Engineering">Mathematics, Computing, And Engineering</option>
          <option value="Biomedical Engineering">Biomedical Engineering</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Mathematical Decision Sciences">Mathematical Decision Sciences</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Statistics">Statistics</option>
          <option disabled value="Physical Sciences">Physical Sciences</option>
          <option value="Biochemistry">Biochemistry</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Physics And Astronomy">Physics And Astronomy</option>
          <option value="Marine Sciences">Marine Sciences</option>
          <option value="Geology">Geology</option>
          <option value="Geography (Environment And Physical Systems)">Geography (Environment And Physical Systems)</option>
          <option disabled value="Social Sciences">Social Sciences</option>
          <option value="Aerospace Studies">Aerospace Studies</option>
          <option value="Anthropology">Anthropology</option>
          <option value="Archaeology">Archaeology</option>
          <option value="Asian Studies">Asian Studies</option>
          <option value="Contemporary European Studies">Contemporary European Studies</option>
          <option value="City And Regional Planning">City And Regional Planning</option>
          <option value="Economics">Economics</option>
          <option value="Environmental Studies">Environmental Studies</option>
          <option value="Geography (Social And Cultural)">Geography (Social And Cultural)</option>
          <option value="Global Studies">Global Studies</option>
          <option value="History">History</option>
          <option value="Information Science">Information Science</option>
          <option value="Latin American Studies">Latin American Studies</option>
          <option value="Management And Society">Management And Society</option>
          <option value="Military Science">Military Science</option>
          <option value="Naval Science">Naval Science</option>
          <option value="Peace, War, And Defense">Peace, War, And Defense</option>
          <option value="Political Science">Political Science</option>
          <option value="Psychology (Developmental And Social)">Psychology (Developmental And Social)</option>
          <option value="Public Policy">Public Policy</option>
          <option value="Social And Economic Justice">Social And Economic Justice</option>
          <option value="Sociology">Sociology</option>
          <option value="Sustainability Studies">Sustainability Studies</option>
        </select>
      </label>
      <label class="item item-input item-select" for="userDoubleMajor">
        <div class="input-label">
          Second Major (If applicable)
        </div>
        <select name="userDoubleMajor" ng-model="userDoubleMajor" class="form-control" />
        <option selected value="Undecided">Undecided</option>
        <option disabled value="Arts">Arts</option>
        <option value="Art History">Art History</option>
        <option value="Dramatic Art">Dramatic Art</option>
        <option value="Music">Music</option>
        <option value="Studio Art">Studio Art</option>
        <option disabled value="Biological And Health Sciences">Biological And Health Sciences</option>
        <option value="Biology">Biology</option>
        <option value="Clinical Laboratory Science">Clinical Laboratory Science</option>
        <option value="Dental Hygiene">Dental Hygiene</option>
        <option value="Environmental Sciences">Environmental Sciences</option>
        <option value="Exercise And Sport Science">Exercise And Sport Science</option>
        <option value="Nursing">Nursing</option>
        <option value="Pharmacy">Pharmacy</option>
        <option value="Pre-Health (Pre-Dental, Pre-Med, Pre-Optometry, Pre-Veterinary)">Pre-Health (Pre-Dental, Pre-Med, Pre-Optometry, Pre-Veterinary)</option>
        <option value="Psychology (Behavioral, Clinical, Or Cognitive)">Psychology (Behavioral, Clinical, Or Cognitive)</option>
        <option value="Public Health (Biostatistics, Environmental Health Sciences, Health Policy And Management, And Nutrition)">Public Health (Biostatistics, Environmental Health Sciences, Health Policy And Management, And Nutrition)</option>
        <option value="Radiologic Science">Radiologic Science</option>
        <option value="Speech And Hearing Sciences">Speech And Hearing Sciences</option>
        <option disabled value="Business">Business</option>
        <option value="Consulting">Consulting</option>
        <option value="Entrepreneurship">Entrepreneurship</option>
        <option value="Finance/Investments">Finance/Investments</option>
        <option value="General Management">General Management</option>
        <option value="International Business">International Business</option>
        <option value="Marketing Management">Marketing Management</option>
        <option value="Operations">Operations</option>
        <option value="Real Estate">Real Estate</option>
        <option value="Sales">Sales</option>
        <option disabled value="Education">Education</option>
        <option value="Music Education And Unc Best">Music Education And Unc Best</option>
        <option value="Elementary Education, Middle Grades Education, And Secondary Education">Elementary Education, Middle Grades Education, And Secondary Education</option>
        <option disabled value="Humanities">Humanities</option>
        <option value="African, African American, And Diaspora Studies (Including Arabic, Lingala, Swahili, And Wolof)">African, African American, And Diaspora Studies (Including Arabic, Lingala, Swahili, And Wolof)</option>
        <option value="American Studies (Including American Indian Studies, Folklore, International American Studies, And Southern Studies)">American Studies (Including American Indian Studies, Folklore, International American Studies, And Southern Studies)</option>
        <option value="Asian Studies (Including Arabic, Chinese, Modern Hebrew, Hindi-Urdu, Japanese, Korean, Persian, And Turkish)">Asian Studies (Including Arabic, Chinese, Modern Hebrew, Hindi-Urdu, Japanese, Korean, Persian, And Turkish)</option>
        <option value="Classics (Including Classical Archaeology, Classical Humanities, Greek, And Latin)">Classics (Including Classical Archaeology, Classical Humanities, Greek, And Latin)</option>
        <option value="Communication Studies">Communication Studies</option>
        <option value="Comparative Literature (Including International Literature And Global Cinema)">Comparative Literature (Including International Literature And Global Cinema)</option>
        <option value="Creative Writing">Creative Writing</option>
        <option value="English">English</option>
        <option value="Germanic And Slavic Languages And Literatures (Including Bosnian-Croatian-Serbian, Czech, Dutch, German, Hungarian, Polish, And Russian)">Germanic And Slavic Languages And Literatures (Including Bosnian-Croatian-Serbian, Czech, Dutch, German, Hungarian, Polish, And Russian)</option>
        <option value="Interdisciplinary Studies">Interdisciplinary Studies</option>
        <option value="Latin American Studies">Latin American Studies</option>
        <option value="Latina/O Studies">Latina/O Studies</option>
        <option value="Linguistics">Linguistics</option>
        <option value="Medieval And Early Modern Studies">Medieval And Early Modern Studies</option>
        <option value="Philosophy">Philosophy</option>
        <option value="Philosophy, Politics, And Economics">Philosophy, Politics, And Economics</option>
        <option value="Pre-Law">Pre-Law</option>
        <option value="Religious Studies (Including Jewish Studies)">Religious Studies (Including Jewish Studies)</option>
        <option value="Romance Languages And Literatures (Including French, Italian, Hispanic Linguistics, Hispanic Literature And Cultures, And Portuguese)">Romance Languages And Literatures (Including French, Italian, Hispanic Linguistics, Hispanic Literature And Cultures, And Portuguese)</option>
        <option value="Sexuality Studies">Sexuality Studies</option>
        <option value="Women’s And Gender Studies">Women’s And Gender Studies</option>
        <option value="Writing For The Screen And Stage">Writing For The Screen And Stage</option>
        <option disabled value="Media And Journalism">Media And Journalism</option>
        <option value="Advertising">Advertising</option>
        <option value="Broadcast Journalism And Electronic Communication">Broadcast Journalism And Electronic Communication</option>
        <option value="Business Journalism">Business Journalism</option>
        <option value="Electronic Communication">Electronic Communication</option>
        <option value="Multimedia">Multimedia</option>
        <option value="Photojournalism">Photojournalism</option>
        <option value="Public Relations">Public Relations</option>
        <option value="Reporting">Reporting</option>
        <option value="Strategic Communication">Strategic Communication</option>
        <option disabled value="Mathematics, Computing, And Engineering">Mathematics, Computing, And Engineering</option>
        <option value="Biomedical Engineering">Biomedical Engineering</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Mathematical Decision Sciences">Mathematical Decision Sciences</option>
        <option value="Mathematics">Mathematics</option>
        <option value="Statistics">Statistics</option>
        <option disabled value="Physical Sciences">Physical Sciences</option>
        <option value="Biochemistry">Biochemistry</option>
        <option value="Chemistry">Chemistry</option>
        <option value="Physics And Astronomy">Physics And Astronomy</option>
        <option value="Marine Sciences">Marine Sciences</option>
        <option value="Geology">Geology</option>
        <option value="Geography (Environment And Physical Systems)">Geography (Environment And Physical Systems)</option>
        <option disabled value="Social Sciences">Social Sciences</option>
        <option value="Aerospace Studies">Aerospace Studies</option>
        <option value="Anthropology">Anthropology</option>
        <option value="Archaeology">Archaeology</option>
        <option value="Asian Studies">Asian Studies</option>
        <option value="Contemporary European Studies">Contemporary European Studies</option>
        <option value="City And Regional Planning">City And Regional Planning</option>
        <option value="Economics">Economics</option>
        <option value="Environmental Studies">Environmental Studies</option>
        <option value="Geography (Social And Cultural)">Geography (Social And Cultural)</option>
        <option value="Global Studies">Global Studies</option>
        <option value="History">History</option>
        <option value="Information Science">Information Science</option>
        <option value="Latin American Studies">Latin American Studies</option>
        <option value="Management And Society">Management And Society</option>
        <option value="Military Science">Military Science</option>
        <option value="Naval Science">Naval Science</option>
        <option value="Peace, War, And Defense">Peace, War, And Defense</option>
        <option value="Political Science">Political Science</option>
        <option value="Psychology (Developmental And Social)">Psychology (Developmental And Social)</option>
        <option value="Public Policy">Public Policy</option>
        <option value="Social And Economic Justice">Social And Economic Justice</option>
        <option value="Sociology">Sociology</option>
        <option value="Sustainability Studies">Sustainability Studies</option>
        </select>
      </label>
      <label class="item item-input item-select" for="userMinor">
        <div class="input-label">
          Minor One (If applicable)
        </div>
        <select name="userMinor" ng-model="userMinor" class="form-control" />
          <option disabled value=""></option>
          <option value="Aerospace Studies">Aerospace Studies</option>
          <option value="African American And Diaspora Studies">African American And Diaspora Studies</option>
          <option value="African Studies">African Studies</option>
          <option value="American Indian And Indigenous Studies">American Indian And Indigenous Studies</option>
          <option value="American Studies">American Studies</option>
          <option value="Anthropology">Anthropology</option>
          <option value="Arabic">Arabic</option>
          <option value="Archaeology">Archaeology</option>
          <option value="Art History">Art History</option>
          <option value="Asian Studies">Asian Studies</option>
          <option value="Astronomy">Astronomy</option>
          <option value="Biology">Biology</option>
          <option value="Business Administration">Business Administration</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Chinese">Chinese</option>
          <option value="Classical Humanities">Classical Humanities</option>
          <option value="Coaching Education">Coaching Education</option>
          <option value="Cognitive Science">Cognitive Science</option>
          <option value="Comparative Literature">Comparative Literature</option>
          <option value="Composition, Rhetoric, And Digital Literacy">Composition, Rhetoric, And Digital Literacy</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Creative Writing">Creative Writing</option>
          <option value="Dramatic Art">Dramatic Art</option>
          <option value="Education">Education</option>
          <option value="English">English</option>
          <option value="Entrepreneurship">Entrepreneurship</option>
          <option value="Environmental Science And Studies">Environmental Science And Studies</option>
          <option value="Exercise And Sport Science">Exercise And Sport Science</option>
          <option value="Folklore">Folklore</option>
          <option value="French">French</option>
          <option value="Geography">Geography</option>
          <option value="Geology">Geology</option>
          <option value="German">German</option>
          <option value="Global Cinema">Global Cinema</option>
          <option value="Greek">Greek</option>
          <option value="Hindi-Urdu">Hindi-Urdu</option>
          <option value="Hispanic Studies">Hispanic Studies</option>
          <option value="History">History</option>
          <option value="Information Systems">Information Systems</option>
          <option value="International American Studies">International American Studies</option>
          <option value="Islamic And Middle Eastern Studies">Islamic And Middle Eastern Studies</option>
          <option value="Italian">Italian</option>
          <option value="Japanese">Japanese</option>
          <option value="Jewish Studies">Jewish Studies</option>
          <option value="Korean">Korean</option>
          <option value="Latin">Latin</option>
          <option value="Latina/O Studies">Latina/O Studies</option>
          <option value="Linguistics">Linguistics</option>
          <option value="Marine Sciences">Marine Sciences</option>
          <option value="Mathematical Decision Sciences">Mathematical Decision Sciences</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Media And Journalism">Media And Journalism</option>
          <option value="Medical Anthropology">Medical Anthropology</option>
          <option value="Medicine, Literature, And Culture">Medicine, Literature, And Culture</option>
          <option value="Medieval And Early Modern Studies">Medieval And Early Modern Studies</option>
          <option value="Military Science">Military Science</option>
          <option value="Modern Hebrew">Modern Hebrew</option>
          <option value="Music">Music</option>
          <option value="Naval Science">Naval Science</option>
          <option value="Neuroscience">Neuroscience</option>
          <option value="Philosophy">Philosophy</option>
          <option value="Philosophy, Politics, And Economics">Philosophy, Politics, And Economics</option>
          <option value="Physics">Physics</option>
          <option value="Portuguese">Portuguese</option>
          <option value="Public Policy">Public Policy</option>
          <option value="Recreation Administration">Recreation Administration</option>
          <option value="Religious Studies">Religious Studies</option>
          <option value="Russian Culture">Russian Culture</option>
          <option value="Sexuality Studies">Sexuality Studies</option>
          <option value="Slavic And East European Cultures">Slavic And East European Cultures</option>
          <option value="Social And Economic Justice">Social And Economic Justice</option>
          <option value="Southern Studies">Southern Studies</option>
          <option value="Spanish For The Professions">Spanish For The Professions</option>
          <option value="Speech And Hearing Sciences">Speech And Hearing Sciences</option>
          <option value="Studio Art">Studio Art</option>
          <option value="Study Of Christianity And Culture">Study Of Christianity And Culture</option>
          <option value="Sustainability Studies">Sustainability Studies</option>
          <option value="Urban Studies And Planning">Urban Studies And Planning</option>
          <option value="Women’s And Gender Studies">Women’s And Gender Studies</option>
          <option value="Writing For The Screen And Stage">Writing For The Screen And Stage</option>
        </select>
      </label>
      <label class="item item-input item-select" for="userDoubleMinor">
        <div class="input-label">
          Minor Two (If applicable)
        </div>
        <select name="userDoubleMinor" ng-model="userDoubleMinor" class="form-control" />
          <option disabled value=""></option>
          <option value="Aerospace Studies">Aerospace Studies</option>
          <option value="African American And Diaspora Studies">African American And Diaspora Studies</option>
          <option value="African Studies">African Studies</option>
          <option value="American Indian And Indigenous Studies">American Indian And Indigenous Studies</option>
          <option value="American Studies">American Studies</option>
          <option value="Anthropology">Anthropology</option>
          <option value="Arabic">Arabic</option>
          <option value="Archaeology">Archaeology</option>
          <option value="Art History">Art History</option>
          <option value="Asian Studies">Asian Studies</option>
          <option value="Astronomy">Astronomy</option>
          <option value="Biology">Biology</option>
          <option value="Business Administration">Business Administration</option>
          <option value="Chemistry">Chemistry</option>
          <option value="Chinese">Chinese</option>
          <option value="Classical Humanities">Classical Humanities</option>
          <option value="Coaching Education">Coaching Education</option>
          <option value="Cognitive Science">Cognitive Science</option>
          <option value="Comparative Literature">Comparative Literature</option>
          <option value="Composition, Rhetoric, And Digital Literacy">Composition, Rhetoric, And Digital Literacy</option>
          <option value="Computer Science">Computer Science</option>
          <option value="Creative Writing">Creative Writing</option>
          <option value="Dramatic Art">Dramatic Art</option>
          <option value="Education">Education</option>
          <option value="English">English</option>
          <option value="Entrepreneurship">Entrepreneurship</option>
          <option value="Environmental Science And Studies">Environmental Science And Studies</option>
          <option value="Exercise And Sport Science">Exercise And Sport Science</option>
          <option value="Folklore">Folklore</option>
          <option value="French">French</option>
          <option value="Geography">Geography</option>
          <option value="Geology">Geology</option>
          <option value="German">German</option>
          <option value="Global Cinema">Global Cinema</option>
          <option value="Greek">Greek</option>
          <option value="Hindi-Urdu">Hindi-Urdu</option>
          <option value="Hispanic Studies">Hispanic Studies</option>
          <option value="History">History</option>
          <option value="Information Systems">Information Systems</option>
          <option value="International American Studies">International American Studies</option>
          <option value="Islamic And Middle Eastern Studies">Islamic And Middle Eastern Studies</option>
          <option value="Italian">Italian</option>
          <option value="Japanese">Japanese</option>
          <option value="Jewish Studies">Jewish Studies</option>
          <option value="Korean">Korean</option>
          <option value="Latin">Latin</option>
          <option value="Latina/O Studies">Latina/O Studies</option>
          <option value="Linguistics">Linguistics</option>
          <option value="Marine Sciences">Marine Sciences</option>
          <option value="Mathematical Decision Sciences">Mathematical Decision Sciences</option>
          <option value="Mathematics">Mathematics</option>
          <option value="Media And Journalism">Media And Journalism</option>
          <option value="Medical Anthropology">Medical Anthropology</option>
          <option value="Medicine, Literature, And Culture">Medicine, Literature, And Culture</option>
          <option value="Medieval And Early Modern Studies">Medieval And Early Modern Studies</option>
          <option value="Military Science">Military Science</option>
          <option value="Modern Hebrew">Modern Hebrew</option>
          <option value="Music">Music</option>
          <option value="Naval Science">Naval Science</option>
          <option value="Neuroscience">Neuroscience</option>
          <option value="Philosophy">Philosophy</option>
          <option value="Philosophy, Politics, And Economics">Philosophy, Politics, And Economics</option>
          <option value="Physics">Physics</option>
          <option value="Portuguese">Portuguese</option>
          <option value="Public Policy">Public Policy</option>
          <option value="Recreation Administration">Recreation Administration</option>
          <option value="Religious Studies">Religious Studies</option>
          <option value="Russian Culture">Russian Culture</option>
          <option value="Sexuality Studies">Sexuality Studies</option>
          <option value="Slavic And East European Cultures">Slavic And East European Cultures</option>
          <option value="Social And Economic Justice">Social And Economic Justice</option>
          <option value="Southern Studies">Southern Studies</option>
          <option value="Spanish For The Professions">Spanish For The Professions</option>
          <option value="Speech And Hearing Sciences">Speech And Hearing Sciences</option>
          <option value="Studio Art">Studio Art</option>
          <option value="Study Of Christianity And Culture">Study Of Christianity And Culture</option>
          <option value="Sustainability Studies">Sustainability Studies</option>
          <option value="Urban Studies And Planning">Urban Studies And Planning</option>
          <option value="Women’s And Gender Studies">Women’s And Gender Studies</option>
          <option value="Writing For The Screen And Stage">Writing For The Screen And Stage</option>
        </select>
      </label>
      <label class="item item-input" for="academicInterests">
        <textarea name="academicInterests" ng-model="academicInterests" placeholder="Academic Interests"></textarea>
      </label>
      <label class="item item-input" for="campusInvolvement">
        <textarea name="campusInvolvement" ng-model="campusInvolvement" placeholder="Campus Involvement"></textarea>
      </label>
    </div>

      <!-- CONTACT -->
      <div class="editProfileMargin">
      <h4 style="text-align:center; margin-top:15px; margin-bottom:15px;">Contact</h4>
      <label class="item item-input item-stacked-label" for="phoneNum">
        <span class="input-label">Phone Number</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="xxx-xxx-xxxx" name="phoneNum" ng-model="phoneNum" class="form-control" />
      </label>
      <label class="item item-input item-stacked-label" for="personalEmail">
        <span class="input-label">Personal Email</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="email@email.com" name="personalEmail" ng-model="personalEmail" class="form-control" />
      </label>
      <!-- <label class="item item-input item-stacked-label" for="linkedIn">
        <span class="input-label">LinkedIn</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="LinkedIn" name="linkedIn" ng-model="linkedIn" class="form-control" />
      </label> -->
    </div>

      <!-- SOCIAL MEDIA INFORMATION -->
      <div class="editProfileMargin">
      <h4 style="text-align:center; margin-top:15px; margin-bottom:15px;">Social Media</h4>
      <label class="item item-input item-stacked-label" for="facebook">
        <span class="input-label">Facebook</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="Facebook" name="facebook" ng-model="facebook" class="form-control" />
      </label>
      <label class="item item-input item-stacked-label" for="twitter">
        <span class="input-label">Twitter</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="@" name="twitter" ng-model="twitter" class="form-control" />
      </label>
      <label class="item item-input item-stacked-label" for="instagram">
        <span class="input-label">Instagram</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="Instagram" name="instagram" ng-model="instagram" class="form-control" />
      </label>
      <!-- <label class="item item-input item-stacked-label" for="snapchat">
        <span class="input-label">SnapChat</span>
        <input style="background-color : #F1F1F2;" type="text" placeholder="SnapChat" name="snapchat" ng-model="snapchat" class="form-control" />
      </label> -->
    </div>

    <button ng-click="profileUpdate(updateUserProfile)" class="button button-block button-assertive">Update</button>
  </form>

</div>

<!-- <div ng-controller="CameraController">
  <form name="uploadUserImg">
    <div class="row no-padding">
      <div class="col no-padding">
        <button ng-click="takePicture(userTakenPicture)" class="button button-block button-assertive">Take New Photo</button>
      </div>
      <div class="col no-padding">
        <button ng-click="getFromPhotoLibrary(userUploadPicture)" class="button button-block button-assertive">Upload Photo</button>
      </div>
    </div>
  </form>
</div> -->
