<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Getting Started
    </super-navbar-title>
  </super-navbar>

  <h1>Welcome!</h1>

  <p>
    Please begin by registering if you are a new user, or logging in if you are an existing user.
  </p>

  <super-navigate view-id="register">
    <button class="button button-block button-positive icon-left super-person-add">Register</button>
  </super-navigate>

  <super-navigate view-id="login">
    <button class="button button-block button-positive icon-left super-person">Login</button>
  </super-navigate>


</div>
