<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Home
    </super-navbar-title>
  </super-navbar>

  <script>
  //CHOOSING HOME VS. MODAL LOG IN SCREEN
    var currentUser = Parse.User.current();
      if (currentUser) {
          // do stuff with the user
          supersonic.ui.View("example#home");
      } else {
          // show the signup or login page
          //alert("need to log in");

          var modalView = new supersonic.ui.View("example#getting-started");
          var options = {
          animate: true
          }

          supersonic.ui.modal.show(modalView, options);
      }




  </script>


 <h1>Logout</h1>

 <div ng-controller="FormController">
   <super-navigate view-id="getting-started">
     <button ng-click="logOut()">Push Me</button>
   </super-navigate>
 </div>

</div>
