<div ng-controller="FormController">
  <!-- took out class="padding" -->

  <super-navbar>
    <super-navbar-title>
      Settings
    </super-navbar-title>
  </super-navbar>

  <img class="userProfilePicture" src="http://dummyimage.com/200x200/000/dceb36&text=Profile+Image">


    <h3 class="userProfileName">
      your name
    </h3>

    <h4 class="userProfileMajor">
      major
    </h4>

    <h4 class="userProfileClass">
      class
    </h4>

    <div class="row profileTabsRow">
      <div class="col profileTabs profileTabsLeft ">.col</div>
      <div class="col profileTabs">.col</div>
      <div class="col profileTabs">.col</div>
      <div class="col profileTabs">.col</div>
    </div>



</div>
