<div ng-controller="Profile">
<super-navbar>
  <super-navbar-title>
    My Profile
  </super-navbar-title>
  <super-navbar-button side="right" location="example#edit-profile">
    Edit
  </super-navbar-button>
</super-navbar>


  <div class="row">
    <div class="col profilePicture">
      <div class="profile-top"></div>
      <div id="profilePicture"></div>
    </div>
  </div>

  <div class="profileBox"></div>


<div class="row no-padding">
  <div class="col basicInfo">
    <h3 id="fullName" class="fullName"></h3>
    <!-- <span id="hometown" class="hometown"></span> -->
    <span id="roleTeam"></span>
  </div>
</div>
<div class="row no-padding">
  <div class="col userBio">
    <p id="bio"></p>
  </div>
</div>
<!-- TABS  -->
<div class="row profileTabsRow">
  <div class="col profileTabs">
    <button ng-click="profileAcademics()" class="button button-icon bold">ACADEMICS</button>
  </div>
  <div class="col profileTabs">
    <button ng-click="profileConnect()" class="button button-icon bold">CONNECT</button>
  </div>
</div>
<!-- INSERT USER INFORMATION HERE -->
<div class="profileTabsDivs padding">
    <div id="academicTab" class="activeTab" ng-show="state == 'ACADEMICS'">
      <p class="tab-title">
        ACADEMIC INFORMATION
      </p>
      <p id="classStatus"></p>
      <p id="primaryMajor"></p>
      <p id="doubleMajor"></p>
      <p id="primaryMinor"></p>
      <p id="doubleMinor"></p>
      <p id="academicInterests"></p>
      <p id="campusInvolvement"></p>
    </div>
    <div id="connectTab" class="activeTab" ng-show="state == 'CONNECT'">
      <p class="tab-title">
        CONNECT INFORMATION
      </p>
      <p id="hometown"></p>
      <p id="phoneNum"></p>
      <p id="personalEmail"></p>
      <p ng-click="facebookModal()" id="facebook"></p>
      <p ng-click="twitterModal()" id="twitter"></p>
      <p ng-click="instagramModal()" id="instagram"></p>
    </div>
</div>
<!-- </div> -->


</div>
