<super-navbar>
  <super-navbar-title>
    Register
  </super-navbar-title>
</super-navbar>
<div class="padding">
  <h2>Register</h2>
</div>


  <div ng-controller="FormController">



    <form name="newUserForm">
      <div class="form-group list">
        <label class="item item-input item-stacked-label" for="userName">
          <span class="input-label">Username</span>
          <input type="text" style="background-color : #F1F1F2;" placeholder="Username" name="userName" ng-model="userName" class="form-control" required />
        </label>
        <label class="item item-input item-stacked-label" for="firstName">
          <span class="input-label">First Name</span>
          <input type="text" style="background-color : #F1F1F2;" placeholder="First Name" name="firstName" ng-model="firstName" class="form-control" required />
        </label>
        <label class="item item-input item-stacked-label" for="lastName">
          <span class="input-label">Last Name</span>
          <input type="text" style="background-color : #F1F1F2;" placeholder="Last Name" name="lastName" ng-model="lastName" class="form-control" required />
        </label>
        <label class="item item-input item-stacked-label" for="userEmail">
          <span class="input-label">Email Address</span>
          <input type="text" style="background-color : #F1F1F2;" placeholder="onyen@live.unc.edu" name="userEmail" ng-model="userEmail" class="form-control" required />
        </label>
        <label class="item item-input item-stacked-label" for="userPass">
          <span class="input-label">Password</span>
          <input type="text" style="background-color : #F1F1F2;" placeholder="Password" name="userPass" ng-model="userPass" class="form-control" required />
        </label>
        <label class="item item-input item-select" for="userRole">
          <div class="input-label">
            Role
          </div>
          <select required name="userRole" ng-model="userRole" class="form-control" />
            <option disabled selected value=""></option>
            <option value="Mentee">Mentee</option>
            <option value="Mentor">Mentor</option>
            <option value="Administrator">Administrator</option>
          </select>
        </label>
      </div>
      <img src="http://brmayes.com/dynamic/avatar.png" class="display-none" for="userImg" ng-model="userImg" id="userImg">

      <button ng-click="regFormParse(newUserForm)" class="button button-block button-positive">Submit</button>
    </form>

  </div>
