<div ng-controller="Profile">
<super-navbar>
  <super-navbar-title>
    Resources
  </super-navbar-title>
  <super-navbar-button side="right" location="example#upload-resources">
    Upload
  </super-navbar-button>
</super-navbar>

  <div class="row">
    <div class="col">
      <p class="bold">
        DEC 2015
      </p>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col resources-col">
      <super-navigate location="/pdf/Spring2016_final.pdf">
        <img class="resources-icon" src="/resources.svg">
        <p class="resources-title">
          S15 Academic Calendar
        </p>
        <p class="resources-date">
          12/3/15
        </p>
      </super-navigate>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col">
      <p class="bold">
        NOV 2015
      </p>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <div class="row">
    <div class="col resources-col">
      <super-navigate location="/pdf/housingDates.png">
        <img class="resources-icon" src="/resources.svg">
        <p class="resources-title">
          16-17 Housing Selection Dates
        </p>
        <p class="resources-date">
          11/24/15
        </p>
      </super-navigate>
    </div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col">
      <p class="bold">
        AUG 2015
      </p>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <div class="row">
    <div class="col resources-col">
      <super-navigate location="/pdf/FallFest2015Map.pdf">
        <img class="resources-icon" src="/resources.svg">
        <p class="resources-title">
          Fall Fest 2015 Map
        </p>
        <p class="resources-date">
          09/13/15
        </p>
      </super-navigate>
    </div>
    <div class="col resources-col">
      <super-navigate location="/pdf/FallFest2015StudentOrgDirectory.pdf">
        <img class="resources-icon" src="/resources.svg">
        <p class="resources-title">
          Fall Fest 2015 Student Org Directory
        </p>
        <p class="resources-date">
          09/13/15
        </p>
      </super-navigate>
    </div>
  </div>
  <div class="row">
    <div class="col resources-col">
      <super-navigate location="/pdf/Fall2015_final.pdf">
        <img class="resources-icon" src="/resources.svg">
        <p class="resources-title">
          F15 Academic Calendar
        </p>
        <p class="resources-date">
          09/03/15
        </p>
      </super-navigate>
    </div>
    <div class="col"></div>
  </div>







</div>
