<div ng-controller="Profile">
<super-navbar>
  <super-navbar-title>
    Resources
  </super-navbar-title>
  <super-navbar-button side="right" location="example#upload-resources">
    Upload
  </super-navbar-button>
</super-navbar>

  <div class="row">
    <div class="col">
      <p class="bold">
        AUG 2015
      </p>
    </div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>

  <div class="row">

    <div class="col resources-col">
      <img class="resources-icon" src="/resources.svg">
      <p class="resources-title">
        Academic Calendar
      </p>
      <p class="resources-date">
        9/3/15
      </p>
    </div>
    <div class="col resources-col">
      <img class="resources-icon" src="/resources.svg">
      <p class="resources-title">
        Advising Hours
      </p>
      <p class="resources-date">
        9/3/15
      </p>
    </div>

  </div>





</div>
