/*GENERAL*/
.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.border {
  border: 1px solid black;
}

.display-none {
  display: none;
}

.bold {
  font-weight: 700;
}

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

/*PROFILE PAGE SETTING*/
.userProfilePicture {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  border-radius: 50%;
  margin-top: 10px;
  position: absolute;
  margin-left: 28%;
}

.profilePicture {
  padding: 0 0 !important;
  margin: 0 !important;
}

.profile-top {
  background: #2f3440;
  height: 90px;
  width: 100%;
  position: absolute;
  margin-left: -5px;
  margin-top: -5px;
}

.profileBox {
  height: 165px;
}

.basicInfo {
  text-align: center;
}

#fullName {
  margin-bottom: 0;
}

#hometown {
  margin-top: 0;
}

#roleTeam {
  margin-top: 0;
}

.userBio {
  margin-top: 20px;
}

#bio {
  text-align: center;
}

.profileTabsRow {
  margin: auto 0;
  text-align: center;
}

.tab-title {
  text-align: center;
  font-weight: 500;
}




/*.userProfileName, .userProfileMajor, .userProfileClass, .userProfileRoleTeam {
  text-align: left;
}

.userProfileBio {
  min-height: 100px;
}
*/

/*
.profileTabs {
  height: 50px;
}*/

/*.profileTabsLeft {
  border-botom: 3px solid black;
  height: 50px;
}*/

/*.profileTabsDivs {
  min-height: 224px;
}

.editProfileMargin {
  margin-bottom: 45px;
}*/
