.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.userProfilePicture {
  margin: 0 auto;
}

/*super-navbar button {
  font-size: 16px;
  font-weight: 450;
  color: #007CB1;
}

super-navbar title {
  color: #04B3FF;
  font-size: 18px;
  font-weight: 600;
}

super-navbar {
  background-color: #1E4E62;
}*/
