/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: #2f3440;
  color: #F1F1F2;
}

navigation-bar title {
  color: #F1F1F2;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #F1F1F2;
  font-weight: 300;
}

tab-bar {
  background-color: #F1F1F2;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #000;
}

tab-bar-item#home {
  background-image: url(components/Ionicons/src/ios-home.svg);
}

tab-bar-item#profile {
  background-image: url(components/Ionicons/src/ios-people.svg);
}

tab-bar-item#calendar {
  background-image: url(components/Ionicons/src/ios-calendar-outline.svg);
}

tab-bar-item#resources {
  background-image: url(components/Ionicons/src/paperclip.svg);
}

tab-bar-item#chat {
  background-image: url(components/Ionicons/src/chatboxes.svg);
}
